* {
    margin:0;
    padding:0; 
    }

body {
    font-size: 18px;
    line-height: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    background: black;
    color: #fff;
}

p, ul li, span, hr
{   
    max-width:500px;
}

h1 {
    padding-top:.75em;
    padding-bottom:.25em;
    margin: 0 0 0 0;
    width:100%;
    font-size:1.5em;
    text-align:center;
}

h2 {
    font-size:1.1em;
    margin-top:1.5em;
}
    
a {
    text-decoration: none;
    color: #56B6DE;
}
a:hover {
    text-decoration: underline;
}
a img {
    border: none;
}

p {
    margin-bottom: 1em;
}
    
#container {
    max-width:500px;
    width:90%;
    margin: 0 auto;
    padding-top: 2em; }

#intro {
    font-size: 2em; }

.question {
    margin-top: 4em;
    font-size: 75%;
    line-height: 1em;
    padding: 0.3em;
    font-weight: bold;
    text-align: center; }
    .question a {
        /*color: white;*/
    }
    .question a:hover {
        text-decoration: none;
    }
    
.answer {
    padding: 0.2em;
    border: 1px solid black;
    font-weight: normal;
    font-style: italic;
}
#links {
    clear: left;
    font-size: 75%;
}
    #links a {
        margin-right: 1em;
        text-align:center;
        word-wrap:none;
    }
    
div#header {
    background: #000;
    border: none;
}
    
#serialTest {
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    width: 100%;
    height: 2em;
    position: relative;
}
    #serialTest input {
        position: absolute;
        height: 100%;
        border: none;
        display: inline-block;
        background: #859ab3;
        color: black;
        font-weight: bold;
        padding-left: 0em;
        font-size: 1em;
    }
    #serialTest #serial {
        top: 0;
        left: 0;
        width: 70%;
    }
    #serialTest .submit {
        top: 0;
        right: 0;
        width: 30%;
        background: #c61919;
        color: #fff;
        padding: .25em;
    }
    
#links a {
    display: block;
}

#footer {
    text-align: right;
}

small {
    font-size: 50%;
}

ul li {
    background:black;
    color:white;
    border:none;
    margin:0;
    list-style-type:disc;
    list-style-position:inside;
    padding-left:15px;
}
ul {
    border:none;
}

ul li a {
    color:#56B6DE;
}

.CPICResults{

}
    .CPICResults strong {
        font-weight:bold;
    }

    .CPICResults #StolenStatus {
        font-color:#f11;
        font-weight:bold;
    }