* {
    margin:0;
    padding:0; }

body {
    font-size: 20px;
    line-height: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    background: black;
    color: #fff;
}

h1 {
    padding-top:.75em;
    padding-bottom:.25em;
}
    
a {
    text-decoration: none;
    color: #56B6DE;
}
a:hover {
    text-decoration: underline;
}

input {
    border: solid 1px #ccc;
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
    border-radius: .25em;
}
input[type=text] {
    width: 100%;
    background: transparent;
    color: #fff;
    padding: .25em;
    margin-bottom: 1em;
    font-size:0.8em;
}
input[type=submit] {
    background: #56B6DE;
    color: #fff;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1em;
}
    
#container {
    position: relative;
    width: 880px; 
    margin: 0 auto;
    margin-top: 4em; }
    
#image {
    width: 500px;
    height: 375px;
    background: url('../images/home.jpg') no-repeat;
    float: left;
    margin-right: 2em;
}

#main {
    position: absolute;
    top: 0;
    right: 0;
    width: 360px;
}

#intro {
    font-size: 2em;
    margin-bottom: 0.5em; }

.question {
    margin-top: 4em;
    font-size: 75%;
    line-height: 1em;
    padding: 0.3em;
    font-weight: bold; }
    
.answer {
    padding: 0.2em;
    border: 1px solid black;
    font-weight: normal;
    font-style: italic;
}
#links {
    clear: left;
    font-size: 75%;
}
    #links a {
            margin-right: 1em;
    }
