body {
    font-size: 16px;
}

#container {
    width: 360px;
}

#image {
    width: 0;
    height: 0;
    background: transparent;
}

input {
    font-size:1.25em;
}

input[type=text] {
    font-size:1em;
}