%form{:method => 'post'}
  %p
    %label Serial Number
    %input{:name => 'bike[serial]', :type => 'text'}
  %p
    %label Colour
    %input{:name => 'bike[color]', :type => 'text'}
  %p
    %label Make
    %input{:name => 'bike[make]', :type => 'text'}
  %p
    %label Model
    %input{:name => 'bike[model_name]', :type => 'text'}
  %p
    %label Location
    %input{:name => 'bike[location]', :type => 'text'}
  %p
    %label
    %input{:type => 'submit', :value => 'Submit'}
